$main-color: #5aa2ae
    
.errFoundWrapper 
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    height: 100vh
    font-size: 28px
    text-align: center


.numOfErr 
    font-weight: 1000
    font-size: 60px

.textOfErr
    margin-bottom: 30px

.linkToHome
    text-decoration: none
    padding: 10px 30px
    border-radius: 40px
    color: white
    background-color: $main-color
    box-shadow: 3px 5px 10px $main-color
    transition: 0.3s linear

    &:hover
        background-color: #31aabf
    

